.card {
  position: relative;
  background: #fff;
  border: none;
  border-radius: 0px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.09), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  margin: 10px auto;
}

.card-img {
  position: relative;
}

.card-img img {
  width: 100%;
}

.card-body {
  width: 100%;
  background: none;
  position: relative;
  color: #1f3254;
  padding-bottom: 10px;
}

h3 {
  text-align: center;
}

.card-comments {
  padding: 0 10px;
}

.card-comments ul {
  list-style: none;
}

.likes {
  background-color: #00a896;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 16px;
  position: absolute;
  bottom: -25px;
  transform: translate(-50%, -50%);
  left: 50%;
}
